@font-face 
	font-family 'Nexa'
	src local('Nexa-Bold'),
		url('../fonts/subset-Nexa-Bold.woff2') format('woff2'),
		url('../fonts/subset-Nexa-Bold.woff') format('woff')
	font-weight bold
	font-style normal

@font-face 
	font-family 'Ubuntu'
	src local('Ubuntu Regular'), local('Ubuntu-Regular'),
		url('../fonts/subset-Ubuntu-Regular.woff2') format('woff2'),
		url('../fonts/subset-Ubuntu-Regular.woff') format('woff')
	font-weight normal
	font-style normal

@font-face 
	font-family 'Ubuntu'
	src local('Ubuntu Bold'), local('Ubuntu-Bold'),
		url('../fonts/subset-Ubuntu-Bold.woff2') format('woff2'),
		url('../fonts/subset-Ubuntu-Bold.woff') format('woff')
	font-weight bold
	font-style normal


$n  = 'Nexa', Arial, "Helvetica Neue", Helvetica, sans-serif
$u  = 'Ubuntu', Arial, "Helvetica Neue", Helvetica, sans-serif


