extends /blocks/layout-default/layout-default

include /blocks/header/header
include /blocks/main/main
include /blocks/sidebar/sidebar
include /blocks/table/table


include /blocks/footer/footer


block head
	- var pageTitle = 'apphud';

block content
	+main()
		+header()
		.main__top
			h1.main__title.title Users
			button.main__button.button Refresh
				svg.button__icon(width='16', height='16', viewbox='0 0 16 16', fill='none', xmlns='http://www.w3.org/2000/svg')
					g(clip-path='url(#clip0)')
						path(d='M13.8453 9.33333C13.2373 12.0013 10.85 14 8 14C5.29667 14 3.008 12.2027 2.25933 9.74067L4 8H0V12L1.218 10.782C2.31667 13.4493 4.94133 15.3333 8 15.3333C11.588 15.3333 14.5767 12.7413 15.206 9.33333H13.8453Z', fill='white')
						path(d='M14.782 5.218C13.6833 2.55066 11.0587 0.666664 8.00001 0.666664C4.41201 0.666664 1.42334 3.25866 0.794006 6.66666H2.15467C2.76267 3.99866 5.15067 2 8.00001 2C10.7033 2 12.992 3.79733 13.7407 6.26L12 8H16V4L14.782 5.218Z', fill='white')
					defs
						clippath#clip0
							rect(width='16', height='16', fill='white')

		.main__table-w
			+table().main__table

	+sidebar()
	+footer()